{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
        .btn-sq-lg {
            width: 150px !important;
            height: 150px !important;
        }
    </style>

    <div class="example-wrapper">

        <h1>Badanie kompetencji cyfrowych</h1>

        <p>Wybierz kwalifikację, z której rozwiążesz test.</p>
        <div style="text-align: center">
            {% for competence in competences %}
                <a href="{{ path("quiz", {competence: competence.id}) }}" class="btn area btn-sq-lg btn-{{ btnClass[competence.id % 4] }}" data-desc="{{ competence.description }}">
                    <i class="fas fa-question fa-5x"></i><br/>
                    {{ competence.name }}
                </a>
            {% endfor %}

        </div>
        <div>
            <p id="area-desc">

            </p>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        $(document).ready(function() {
            $('.area').mouseenter(function() {
                $('#area-desc').text($(this).data('desc'));
            });
        });
    </script>
{% endblock %}
