{% extends 'base.html.twig' %}

{% block title %}Badanie kompetencji cyfrowych
{% endblock %}

{% block body %}
	<style>
		.title {
			background-color: black;
			color: whitesmoke;
			padding: 25px;
			margin-left: 20px;
			margin-right: 20px;
			text-align: center;
		}
		.subtitle {
			text-align: center;
			margin-top: 20px;
			margin-bottom: 40px;
		}
		.example-wrapper {
			margin: 1em auto;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
		.btn-sq-lg {
			width: 300px !important;
			height: 170px !important;
		}
		h3 {
			text-align: center;
			margin-top: 20px;
			margin-bottom: 15px;
		}
		a {
			margin-top: 5px;
		}
		i {
			margin-top: 10px;
		}
	</style>

	<div class="example-wrapper">
		<div class="title">
			<h1>Badanie kompetencji cyfrowych</h1>
		</div>
		<h2 class="subtitle">Wybierz kwalifikację, z której rozwiążesz test.</h2>
		<div style="text-align: center">
			{% for competence in competences %}
				<a href="{{ path("quiz", {competence: competence.id}) }}" class="btn area btn-sq-lg btn-{{ btnClass[competence.id % 4] }}" data-desc="{{ competence.description }}">
					<i class="fas fa-question fa-5x"></i><br/>
					{{ competence.name }}
				</a>
			{% endfor %}

		</div>
		<div>
			<h3>
				<p id="area-desc"></p>
			</h3>
		</div>
	</div>
{% endblock %}
{% block javascripts %}
	<script>
		$(document).ready(function () {
$('.area').mouseenter(function () {
$('#area-desc').text($(this).data('desc'));
});
});
	</script>
{% endblock %}
