
<div class="example-wrapper">
    <h1>Hello {{ controller_name }} In ajax! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/Users/Michał/Documents/Studia/semestr 7/ipz/quiz/src/Controller/QuizController.php'|file_link(0) }}">src/Controller/QuizController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/Users/Michał/Documents/Studia/semestr 7/ipz/quiz/templates/quiz/index.html.twig'|file_link(0) }}">templates/quiz/index.html.twig</a></code></li>
    </ul>
</div>

